.seriesModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.seriesModal {
    background-color: white;
    color: black;
    width: 40rem;
    height: max-content;
    border-radius: 15px;
}

.seriesModal > header {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid lightgrey;
}

.seriesModal > header > button {
    border: none;
    font-size: 1.1rem;
    margin: 1rem 13rem 0 1rem;
    border-radius: 100px;
    transition: 0.2s;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;

}

.seriesModal > header > button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.seriesModal > header > h1 {
    font-size: 1.5rem;
}

.seriesContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seriesContent > img {
    object-fit: contain;
    width: 20rem;
    height: auto;
    border-radius: 5px;
}

.seriesContent > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seriesContent > form > label {
    margin: 0.5rem 0;
}

#seasons, #episodes {
    padding: 0.25rem 0.75rem;
    border-radius: 100px;
    font-size: 1rem;
    width: 100%;
}

.seriesContent > form  > .errorMsgContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.seriesContent > form > .errorMsgContainer .errorMsg {
    color: #F7BE61;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.seriesContent > form > .errorMsgContainer .errorMsg #alertIcon {
    margin-right: 0.5rem;
}


@media (max-width: 1000px) {
    .seriesModalContainer {
        align-items: start;
    }
}


@media (max-width: 500px) {
    .seriesContent {
        flex-direction: column;
    }
}

