.notificationModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.notificationModal {
    background-color: white;
    color: black;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    padding: 1rem 0;
}

.notificationModal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.notificationModal > header {
    margin-bottom: 1rem;
}

.notificationModal > header > button {
    display: flex;
    align-items: center;
    background-color: rgba(15,98,254, 1);
    color: white;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    border: none;
    transition: 0.2s;
}

.notificationModal > header > button:hover {
    cursor: pointer;
    background-color: rgba(15,98,254, 0.8);
}

.notificationModal > header > button > #backIcon {
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.notificationModal > ul {
    overflow-y: scroll;
    flex: 1;
    padding: 0 2rem;
}

.notificationModal > p {
    padding: 0 2rem;
    width: 17.5rem;
}

